/EnigmaCodeChallenge/.vs/EnigmaCodeChallenge/v17/.suo
/EnigmaCodeChallenge/.vs/EnigmaCodeChallenge/v17/DocumentLayout.backup.json
/EnigmaCodeChallenge/.vs/EnigmaCodeChallenge/v17/DocumentLayout.json
/EnigmaCodeChallenge/.vs/PythonApplication1/FileContentIndex/4001e19f-5a68-49f4-ac86-3b3d6ba026e5.vsidx
/EnigmaCodeChallenge/.vs/PythonApplication1/FileContentIndex/63d0b008-68fb-4250-88ab-961b098f2bb3.vsidx
/EnigmaCodeChallenge/.vs/PythonApplication1/FileContentIndex/8521570d-bac5-49b9-a09a-00c6ecfd561a.vsidx
/EnigmaCodeChallenge/.vs/PythonApplication1/FileContentIndex/8a44f414-ec7b-4ae8-9f8d-61bc5bd9aa9a.vsidx
/EnigmaCodeChallenge/.vs/PythonApplication1/FileContentIndex/9cf6a756-440f-462d-b308-7773a2920cb3.vsidx
/EnigmaCodeChallenge/PythonApplication1/__pycache__/BookModel.cpython-314.pyc
/EnigmaCodeChallenge/PythonApplication1/__pycache__/DbManager.cpython-314.pyc
/EnigmaCodeChallenge/PythonApplication1/__pycache__/Main.cpython-314.pyc
/EnigmaCodeChallenge/.vs/PythonApplication1/FileContentIndex/82a9912b-b21f-49be-88df-3b33ad861afb.vsidx
/EnigmaCodeChallenge/.vs/PythonApplication1/FileContentIndex/e6bea38f-ad46-4cb8-b28e-56eaabd636d3.vsidx
/EnigmaCodeChallenge/.vs/PythonApplication1/FileContentIndex/78cfba4a-e2bb-40d9-a95c-1e1b8b9a36d6.vsidx
